[submodule "CommunicationManagement"]
	path = libs/com
	url = https://github.com/UmlautSoftwareDevelopmentAccount/AP-CommunicationManagement.git
	branch = master
[submodule "CoreTypes"]
	path = libs/core
	url = https://github.com/UmlautSoftwareDevelopmentAccount/AP-CoreTypes.git
	branch = master
[submodule "Cryptography"]
	path = libs/crypto
	url = https://github.com/UmlautSoftwareDevelopmentAccount/AP-Cryptography.git
	branch = master
[submodule "Diagnostics"]
	path = libs/diag
	url = https://github.com/UmlautSoftwareDevelopmentAccount/AP-Diagnostics.git
	branch = master
[submodule "ExecutionManagement"]
	path = libs/exec
	url = https://github.com/UmlautSoftwareDevelopmentAccount/AP-ExecutionManagement.git
	branch = master
[submodule "IdentityAndAccessManagement"]
	path = libs/iam
	url = https://github.com/UmlautSoftwareDevelopmentAccount/AP-IdentityAndAccessManagement.git
	branch = master
[submodule "LogAndTrace"]
	path = libs/log
	url = https://github.com/UmlautSoftwareDevelopmentAccount/AP-LogAndTrace.git
	branch = master
[submodule "NetworkManagement"]
	path = libs/nm
	url = https://github.com/UmlautSoftwareDevelopmentAccount/AP-NetworkManagement.git
	branch = master
[submodule "Persistency"]
	path = libs/per
	url = https://github.com/UmlautSoftwareDevelopmentAccount/AP-Persistency.git
	branch = master
[submodule "PlatformHealthManagement"]
	path = libs/phm
	url = https://github.com/UmlautSoftwareDevelopmentAccount/AP-PlatformHealthManagement.git
	branch = master
[submodule "REST"]
	path = libs/rest
	url = https://github.com/UmlautSoftwareDevelopmentAccount/AP-REST.git
	branch = master
[submodule "StateManagement"]
	path = libs/sm
	url = https://github.com/UmlautSoftwareDevelopmentAccount/AP-StateManagement.git
	branch = master
[submodule "TimeSynchronization"]
	path = libs/tsync
	url = https://github.com/UmlautSoftwareDevelopmentAccount/AP-TimeSynchronization.git
	branch = master
[submodule "UpdateAndConfigManagement"]
	path = libs/ucm
	url = https://github.com/UmlautSoftwareDevelopmentAccount/AP-UpdateAndConfigManagement.git
	branch = master
